<h4 *ngIf="products; else noProduct">{{title}}</h4>

<div class="row">
  <ng-template #noProduct>
    <div class="alert alert-primary" role="alert">
      There is no Product in this category.
    </div>
  </ng-template>

  <div *ngFor="let product of products" class="card" style="width: 18rem; margin: 5px;">
    <img [src]="product.imageUrl" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">{{product.productName}}</h5>
      <p class="card-text">Product Price : <b> {{product.unitPrice | currency:'TR':symbol:"1.2-2"}} ₺ </b></p>
      <a href="#" class="btn btn-primary">Go Detail</a>
    </div>
  </div>

</div>
