<h4 *ngIf="products; else noProduct">{{title}}</h4>

<div class="form-group">
  <input  
    class="form-control" 
    id="productName" 
    placeholder="Search Product by name"
    [(ngModel)]="filterText">
  <small *ngIf="filterText" class="form-text text-muted">
    Now, You are searching <strong>{{filterText}}</strong>. </small>
</div>

<div class="row">
  <ng-template #noProduct>
    <div class="alert alert-primary" role="alert">
      There is no Product in this category.
    </div>
  </ng-template>

  <div *ngFor="let product of products | productFilter:filterText" class="card" style="width: 18rem; margin: 5px;">
    <img [src]="product.imageUrl" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">{{product.productName}}</h5>
      <p class="card-text">Product Price : <b> {{product.unitPrice | currency:'TR':symbol:"1.2-2"}} ₺ </b></p>
      <a (click)="addToCart(product)" class="btn btn-primary">Add to Cart</a>
    </div>
  </div>

</div>
